{% load static %}

{% block styles %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'mobileLogin.css' %}">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Josefin+Sans" />
{% endblock %}

{% block content %}
  <img src="{% static 'gbr.png' %}" alt="Logo" class="robot-image">
  {% if error_message %}
  <p style="color: red">{{ error_message }}</p>
{% endif %}
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div>
      <input type="text" name="email" required placeholder="Email">
    </div>
    <div>
      <input type="password" name="password" required placeholder="Password">
    </div>
    <button type="submit" class="login-button">
      <img src="{% static 'Login.png' %}" alt="Login" class="login-image">
    </button>
  </form>
{% endblock %}
